---
import {
  IconChartBar,
  IconDashboard,
  IconDatabase,
  IconFileWord,
  IconFolder,
  IconHelp,
  IconInnerShadowTop,
  IconListDetails,
  IconReport,
  IconSearch,
  IconSettings,
  IconUsers,
} from "@tabler/icons-react";

import { NavDocuments } from "@/components/nav/nav-documents";
import { NavMain } from "@/components/nav/nav-main";
import { NavSecondary } from "@/components/nav/nav-secondary";
import { NavUser } from "@/components/nav/nav-user";

import {
  Sidebar,
  SidebarContent,
  SidebarFooter,
  SidebarHeader,
  SidebarMenu,
  SidebarMenuButton,
  SidebarMenuItem,
} from "@/components/ui/sidebar";

interface Props {
  collapsible?: "offcanvas" | "icon" | "none";
}
const { collapsible = "offcanvas", ...rest } = Astro.props as Props;

const userData = {
  name: "shadcn",
  email: "m@example.com",
  avatar: "/avatars/shadcn.jpg",
};

const navMainData = [
  { title: "Dashboard", url: "#", icon: IconDashboard },
  { title: "Lifecycle", url: "#", icon: IconListDetails },
  { title: "Analytics", url: "#", icon: IconChartBar },
  { title: "Projects", url: "#", icon: IconFolder },
  { title: "Team", url: "#", icon: IconUsers },
];

const navSecondaryData = [
  { title: "Settings", url: "#", icon: IconSettings },
  { title: "Get Help", url: "#", icon: IconHelp },
  { title: "Search", url: "#", icon: IconSearch },
];

const documentsData = [
  { name: "Data Library", url: "#", icon: IconDatabase },
  { name: "Reports", url: "#", icon: IconReport },
  { name: "Word Assistant", url: "#", icon: IconFileWord },
];
---

<Sidebar collapsible={collapsible} {...rest} client:visible>
  <SidebarHeader client:visible>
    <SidebarMenu client:visible>
      <SidebarMenuItem client:visible>
        <SidebarMenuButton
          asChild
          className="data-[slot=sidebar-menu-button]:!p-1.5"
          client:visible
        >
          <a href="#">
            <IconInnerShadowTop className="!size-5" />
            <span class="text-base font-semibold">Acme Inc.</span>
          </a>
        </SidebarMenuButton>
      </SidebarMenuItem>
    </SidebarMenu>
  </SidebarHeader>
  <SidebarContent client:visible>
    <NavMain items={navMainData} client:visible />
    <NavDocuments items={documentsData} client:visible />
    <NavSecondary items={navSecondaryData} className="mt-auto" client:visible />
  </SidebarContent>
  <SidebarFooter client:visible>
    <NavUser user={userData} client:visible />
  </SidebarFooter>
</Sidebar>

<style>
  aside {
    background-color: hsl(var(--background));
  }
</style>
